body {
    background: url("movie1.jpg");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: 'Roboto',sans-serif;
  }

 .nav-area{
     float: right;
     list-style: none;
     margin-top: 30px;
 }
 .nav-area li{
     display: inline-block;
 }
 .nav-area li a{
     color: rgb(219, 9, 107);
     text-decoration: none;
     padding: 5px 20px;
     font-family: poppins;
     font-size: 16px;
 }
 .nav-area li:hover{
    background: rgb(255, 255, 255);
    color: rgb(209, 10, 110);
}

.dropbtn {
    padding: 5px 20px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(243, 26, 127);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(255, 255, 255);}
  
  .movie-details {
      margin: 3% 0;
  }
  .left-box {
    color: #fff;
    margin: 15px 0;
    padding: 20px;
  }
  .casting img{
    height: 50px;
    width:  50px;
    margin-right: 10px;
    cursor: pointer;
  }
  .left-box a{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 20px;
    margin-top: 35px;
    color: rgb(8, 8, 8) !important;
    background: #fa318f;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px ;
  }
 
  .fa
  {
    margin: 0 5px;
  }
.Titanic
{
  background: url("titanic.jpg");
  height: 150vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Roboto',sans-serif;
  size: cover;
 
}
.Annabelle
{
  background: url("anabel.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Roboto',sans-serif;
  size: cover;
 
}
.Escape_Plan
{
  background: url("escape_palan.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Roboto',sans-serif;
  size: cover;
 
}
.Venom
{
  background: url("venom.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Roboto',sans-serif;
  size: cover;
 
}
.Movies2{
  background: url("dark_wallpaper.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Roboto',sans-serif;
  size: cover;
 
}
.Slideshow_movies{
  background: url("background4.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Roboto',sans-serif;
  size: cover;
}
/*SLIDESHOW*/

/*za slideshow ova*/
* {box-sizing: border-box}
body {
  font-family: Verdana, sans-serif; 
  margin:0
}
.mySlides {
  display: none;
}

img {vertical-align: middle;}

.slideshow-container {
  background: black;
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}